<div class="wrapper">
  <div class="main">

    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- header -->
        <app-header></app-header>

        <!-- page title -->
        <app-pagetitle></app-pagetitle>       

        <!-- block -->
        <div class="row">
          <div class="col">

            <div class="page-wrapper">
              <div class="left-menu-panel" [ngClass]="isCollapsed ? 'left-menu-panel-collapsed' : ''">
                <app-left-manu (isLeftMenuCollapsed)="isLeftMenuCollapsed($event)"></app-left-manu>
              </div>

              <div class="right-content-panel">
                <app-dashboard></app-dashboard>
              </div>
            </div>

          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
