<div class="row">
  <!-- messages -->
  <div class="col-12 col-md-12 col-lg-6 col-xl-4 col-xxl-4">
    <div class="custom-card card flex-fill">
      <!-- card header -->
      <div class="card-header">
        <h3 class="card-title">Messages</h3>
        <div class="card-action">
          <span class="icons" (click)="isMessagesCollapsed = !isMessagesCollapsed">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              fill="currentColor"
              class="bi bi-chevron-down"
              viewBox="0 0 16 16"
            >
              <path *ngIf="isMessagesCollapsed"
                fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
              />

              <path *ngIf="!isMessagesCollapsed" fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"/>
            </svg>
          </span>
          <span class="icons">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-x"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
              />
            </svg>
          </span>
        </div>        
      </div>
      <!-- card body -->
      <div class="card-body messages" #collapse="ngbCollapse" [(ngbCollapse)]="isMessagesCollapsed">
        <div class="messages-wrapper">
          <div class="author-pic" style="background-image: url(../assets/images/image-profile.jpg)"></div>
          <div class="author-content">
            <div class="author-info">
              <h4>Author name</h4>
              <span>15m ago</span>
            </div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the
              industry's.
            </p>
          </div>
          <div class="clear"></div>
        </div>

        <div class="messages-wrapper">
          <div class="author-pic" style="background-image: url(../assets/images/image-profile.jpg)"></div>
          <div class="author-content">
            <div class="author-info">
              <h4>Author name</h4>
              <span>15m ago</span>
            </div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the
              industry's.
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- to do lists -->
  <div class="col-12 col-md-12 col-lg-6 col-xl-4 col-xxl-4">
    <div class="custom-card card flex-fill">
      <div class="card-header">
        <h3 class="card-title">Todo List</h3>
        <div class="card-action">          
          <span class="icons" (click)="isToDoCollapsed = !isToDoCollapsed">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              fill="currentColor"
              class="bi bi-chevron-down"
              viewBox="0 0 16 16"
            >
            <path *ngIf="isToDoCollapsed"
              fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
            />

            <path *ngIf="!isToDoCollapsed" fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"/>
            </svg>
          </span>
          <span class="icons">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-x"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
              />
            </svg>
          </span>
        </div>
      </div>
      <div class="card-body todo-checkbox-list" #collapse="ngbCollapse" [(ngbCollapse)]="isToDoCollapsed">
        <ul>
          <li class="list-group-item d-flex align-items-center">            
            <input id="todoCheckbox1" type="checkbox">
            <label for="todoCheckbox1">
              <span>Send offer letter</span>
              <span class="badge rounded-pill">Important</span>
            </label>
          </li>
          <li class="list-group-item d-flex align-items-center">            
            <input id="todoCheckbox2" type="checkbox">
            <label for="todoCheckbox2">
              <span>Schedule new employee onboarding</span>
              <span class="badge rounded-pill">Important</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- calendar -->
  <div class="col-12 col-md-12 col-lg-12 col-xl-4 col-xxl-4">
    <div class="custom-card card flex-fill">
      <div class="card-header">
        <h3 class="card-title">Calendar</h3>
        <div class="card-action">
          <span class="icons" (click)="isCalendarCollapsed = !isCalendarCollapsed">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
              <path *ngIf="isCalendarCollapsed" fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />

              <path *ngIf="!isCalendarCollapsed" fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z" />              
            </svg>
          </span>
          <span class="icons">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
              />
            </svg>
          </span>
        </div>
      </div>
      <div class="card-body dash-calendar" #collapse="ngbCollapse" [(ngbCollapse)]="isCalendarCollapsed">
        <p-calendar class="max-w-full" [(ngModel)]="date" [inline]="true" [showWeek]="true"></p-calendar>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- reseller -->
  <div class="col-12 col-md-12 col-lg-6 col-xl-4 col-xxl-4">
    <div class="custom-card card flex-fill">
      <div class="card-header">
        <h3 class="card-title">Reseller</h3>
        <div class="card-action">          
          <span class="icons" (click)="isResellersCollapsed = !isResellersCollapsed">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              fill="currentColor"
              class="bi bi-chevron-down"
              viewBox="0 0 16 16"
            >
            <path *ngIf="isResellersCollapsed"
              fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
            />

            <path *ngIf="!isResellersCollapsed" fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"/>
            </svg>
          </span>
          <span class="icons">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-x"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
              />
            </svg>
          </span>
        </div>
      </div>
      <div class="card-body reseller" #collapse="ngbCollapse" [(ngbCollapse)]="isResellersCollapsed">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Company</th>
              <th scope="col">Sales</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Harvey C. Lerma</td>
              <td>Cisco</td>
              <td>$135k</td>
            </tr>
            <tr>
              <td>Howard K. Haubrich</td>
              <td>Capco</td>
              <td>$168k</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- worldwide transactions -->
  <div class="col-12 col-md-12 col-lg-6 col-xl-8 col-xxl-8">
    <div class="custom-card card flex-fill">
      <div class="card-header">
        <h3 class="card-title">Worldwide Transactions</h3>
        <div class="card-action">          
          <span class="icons" (click)="isTransactionsCollapsed = !isTransactionsCollapsed">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              fill="currentColor"
              class="bi bi-chevron-down"
              viewBox="0 0 16 16"
            >
            <path *ngIf="isTransactionsCollapsed"
              fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
            />

            <path *ngIf="!isTransactionsCollapsed" fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"/>
            </svg>
          </span>
          <span class="icons">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-x"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
              />
            </svg>
          </span>
        </div>
      </div>
      <div class="card-body" #collapse="ngbCollapse" [(ngbCollapse)]="isTransactionsCollapsed">
        <div class="row">
          <div class="col-12 col-md-6 col-xxl-8">
            <app-world-map></app-world-map>
          </div>
          <div class="col-12 col-md-6 col-xxl-4">            
            <div class="transaction tables-format">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Country</th>
                    <th scope="col" class="text-right">Sales</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Brazil</td>
                    <td class="text-right">$ 100.00</td>
                  </tr>
                  <tr>
                    <td>Germany</td>
                    <td class="text-right">$ 168.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>